@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
  background: linear-gradient(#e66465, #9198e5);}

.mat-card{
  background-color: rgb(24, 24, 24);
  color:white;
  display: flex;
  justify-content: center;
  align-items:center;
}
a{
  text-decoration: none;
  color:white;
}
a:hover {
  color: rgb(212, 159, 175);
  border-color:rgb(212,159,175);
  }

  .search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

  }
